{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<main id="site-main" class="w3-col l8 s12" role="main">
    {{#each (sort-by 'date:desc' model) as |post|}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{post-card post=post}}

    {{/each}}
{{!--
    <div class="w3-contatiner w3-center w3-padding-32">
      <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
      <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
    </div>
--}}
</main>
